section.designLanding4
  .flex.flex--space-around
    .animation_container3
      .about-L4
        h2.mediaReset320-fontSize#workTitle3 Design What?
        p.mediaReset-copyFontSize.mediaReset320-fontSize2#contentTitle3 RTSM: A Graphic Design Handbook
        p.mediaReset-copyFontSize.mediaReset320-fontSize2#content4TitleB3.smaller 2012
      .viewMoreButton-L4container
        .viewMoreButton#designLandingbutton3
          a.viewMore(href="designWork-DesignWhat.html") View More
    .col-6.align-left_designSectionL4
      .designLanding4p1#designLanding4A
      .designLanding4p2#designLanding4B
      .designLanding4p3#designLanding4C
      .designLanding4p4#designLanding4D
