nav.painting-nav.m-scene
  ul.worksList.scene_element.scene_element--fadeinright
    li.kerning: a.active-d(href="designWork-Lanza.html") L'ANZA Healing Haircare
    li.kerning: a.active2-d(href="designWork-KingLyre.html") King and Lyre
    li.kerning: a.active3-d(href="designWork-DesignWhat.html") Design What?
  p.scrollDirection.smaller.fadeIn scroll this way >
