section.designLanding2
  .flex.flex--center
    .animation_container
      .about
        h2.mediaReset-headerFontSize#workTitle DaveXLabs LLC.
        p.mediaReset-copyFontSize#contentTitle L'ANZA Healing Haircare
        p.mediaReset-copyFontSize.align_designLanding#contentTitleB.smaller Junior Graphic Designer  |  2015-2016
      .viewMoreButton-container
        .viewMoreButton#contentTitleC
          a.viewMore(href="designWork-Lanza.html") View More
    .col-3-design.pushDown2b
      .designLanding2-p1
      a.designLanding2-p2.grow(href="designWork-Lanza.html")
