nav.painting-nav.m-scene
  ul.worksList.scene_element.scene_element--fadeinright
    li.kerning: a.active-d(href="designWork-Lanza.html") L'ANZA Healing Haircare
    li.kerning: a.active2-d(href="designWork-KingLyre.html") King and Lyre
    li.kerning: a.active3-d(href="designWork-DesignWhat.html") Design What?
    li.kerning: a.active4-d(href="#") Homebase
    li.kerning: a.active5-d(href="#") AAA
    li.kerning: a.active6-d(href="#") BBB
    li.kerning: a.active7-d(href="#") CCC
  p.scrollDirection.smaller.fadeIn scroll this way >
