section.push-right_designLanding.m-scene
  .flex.flex--center
    .parallax-container#mediaSizeReset-designLanding1.scene_element.scene_element--fadeinup
      ul#scene.scene
        li.layer(data-depth='0.1'): img#increase(src='../assets/imgs/designParallax-landing/designParallax-img.png')
        li.layer.center(data-depth='0.25'): img#decrease(src='../assets/imgs/designParallax-landing/parallax-text.png')
        li#mediaPositionReset-designLanding1.layer.centerB(data-depth='0.5'): img#decrease(src='../assets/imgs/designParallax-landing/page1_parallax.png')
