section.designLanding3
  .flex.flex--space-around
    .col-5
      .designLanding3p1#designLanding3A
      .viewMoreButton-L3container
        .viewMoreButton#designLandingbutton2
          a.viewMore(href="designWork-KingLyre.html") View More
    .col-5.align-left_designSection
      .designLanding3p2#designLanding3B
