nav.painting-nav.m-scene
  ul.worksList.scene_element.scene_element--fadeinright
    li: a.active(href="pWork-Transfiguration.html") Transfiguration
    li: a.active2(href="pWork-Disclosures.html") Disclosures
    li: a.active3(href="pWork-FallToDustII.html") Fall To Dust II
    li: a.active4(href="pWork-FallToDustI.html") Fall To Dust I
  p.scrollDirection.smaller.fadeIn scroll this way >
