nav.painting-nav.m-scene
  ul.worksList.scene_element.scene_element--fadeinright
    li.kerning: a.active-s(href="sWork-Intertextyouability.html") Inter-Text-You-Ability
    li.kerning: a.active2-s(href="sWork-SidewayMirror.html") Sideway Mirror
    li.kerning: a.active3-s(href="sWork-Templar.html") Templar
    li.kerning: a.active4-s(href="sWork-CultureInflux.html")
      | Culturally Influx
      br
      | Whiteboys Be Like...
    li.kerning: a.active5-s(href="sWork-CompetitiveCollab.html")
      | Competitive
      br
      | Collaboration
    li.kerning: a.active6-s(href="sWork-CrumblingMetaphor.html") Crumbling Metaphor
    li.kerning: a.active7-s(href="sWork-Servus.html") Servus
    li.kerning: a.active8-s(href="sWork-Survey.html") Survey - A Triptych
    li.kerning: a.active9-s(href="sWork-theDoryphoros.html") The Doryphoros
    li.kerning: a.active10-s(href="sWork-Excavation.html") Excavation
  p.scrollDirection.smaller.fadeIn scroll this way >
