section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 The Doryphoros
      p.workDate.smaller 2014
    .col-description#wp-pushLeft
      p.smaller 72" x 48" x 48"
      p.smaller Acrylic Paint, Burlap, Cold Pressed 1/4" Steel Channel, Found Lumber, Gravity, Wood, Pressure, Tape, Weight
      a.portfolio-prevBtn(href="sWork-Survey3.html") <
      a.portfolio-nextBtn(href="sWork-Excavation.html") >
    .sculptureGallery.pushUp#centerB
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/theDoryphoros/dorph1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/theDoryphoros/dorph2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/theDoryphoros/dorph3.jpg")
