section.designList
  .flex.flex--center
    ul.col-4
      h4.fadeIn Design
    .col-5
      div.designListPopUp
      div.designListPopUp2
      div.designListPopUp3
      div.designListPopUp4
      div.designListPopUp5
      div.designListPopUp6
      div.designListPopUp7
