section.designWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b
      h4 Design
    .col-1c
      h2.kerning King and Lyre
      h3.subTitle Volume I
      p.smaller.workDate Biannual Publication
    .col-description
      p.smaller
        | This publication is a self-initiated project that uses design as a means of
        br
        | illustrating new points of political discourse. This project was designed to
        br
        | strengthen the understanding of contextual frameworks within text and
        br
        | imagery, as well as put together an efficient means of undergoing thorough
        br
        | research, design and execution.
      p.smaller
        | All publications are composed of inkjet prints that are hand-assembled
        br
        | and bound by hand.
      a.portfolio-prevBtn(href="designWork-Lanza.html") <
      a.portfolio-nextBtn(href="designWork-DesignWhat.html") >
    .designGallery.pushUp-designGallery#center2
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/design/kingLyre/kingLyre-1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/kingLyre/kingLyre-2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/kingLyre/kingLyre-3.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/kingLyre/kingLyre-4.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/kingLyre/kingLyre-5.jpg")
