section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 Templar III
      p.workDate.smaller 2013-2016
    .col-toggleWorks#wp-pushLeft
        a.toggleWorks1(href="sWork-Templar.html") I
        a.toggleWorks2(href="sWork-Templar2.html") II
        a.toggleWorks3#active(href="sWork-Templar3.html") III
    .col-description#wp-pushLeft
      p.smaller 48" x 60" x  36"
      p.smaller Welded Cold Pressed Steel, Perforated Steel Rebar
      a.portfolio-prevBtn(href="sWork-Templar2.html") <
      a.portfolio-nextBtn.push-left(href="sWork-CultureInflux.html") >
    .sculptureGallery.pushUp#centerB2
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar3-1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar3-2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar3-3.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar3-4.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar3-5.jpg")
