section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="sWork-Intertextyouability.html") >
    .col-1c#wp-pushLeft
      h2 Culturally Influx Whiteboys Be Like...
      p.workDate.smaller 2015
    .col-description#wp-pushLeft
      p.smaller Duration 00:01:50
      p.smaller Performance Video
      a.portfolio-prevBtn(href="sWork-Templar3.html") <
      a.portfolio-nextBtn.push-left(href="sWork-CompetitiveCollab.html") >
    .flex-video-width#media568-vTextFrameReset.pushDown <iframe width="560" height="315" src="https://www.youtube.com/embed/CKU-TcF5Oxk" frameborder="0" allowfullscreen></iframe>
