section.paintingWork-Sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b
      h4 Painting
      a.wp-nextBtn(href="sWork-Intertextyouability.html") >
    .col-1c
      h2 Transfiguration
      p.workDate.smaller 2016
    .col-description
      p.smaller 36" x 38" x 24"
      p.smaller
        | Acrylic Paint, Cardboard, Ceramic, Unfired Ceramic Greenware,
        br
        | Dirt, Graphite, Tape, Wood From Past Projects
      a.portfolio-nextBtn(href="pWork-Disclosures.html") >
    .paintingGallery.pushUp#center2
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/painting/transfiguration/transfiguration1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/painting/transfiguration/transfiguration2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/painting/transfiguration/transfiguration3.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/painting/transfiguration/transfiguration4.jpg")
