section.sculptureList
  .flex.flex--center
    ul.col-4
      h4.fadeIn Sculpture
    .col-5
      div.sculptureListPopUp
      div.sculptureListPopUp2
      div.sculptureListPopUp3
      div.sculptureListPopUp4
      div.sculptureListPopUp5
      div.sculptureListPopUp6
      div.sculptureListPopUp7
      div.sculptureListPopUp8
      div.sculptureListPopUp9
      div.sculptureListPopUp10
      div.sculptureListPopUp11
