section.sculptureWork-sections#media375-vWorkPadding.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn#media568-vTextFrameReset(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 Competitive Collaboration - Chinatown
      p.workDate.smaller#media375-v 2015
    .col-description#wp-pushLeft
      p.smaller#media375-v Duration 00:11:31
      p.smaller#media375-v Performance with Audience and Found Blanket 10ft Blanket, Dvd Player, Headphones, Plywood
      a.portfolio-prevBtn#media375-v-LargeButton(href="sWork-CultureInflux.html") <
      a.portfolio-nextBtn#media375-v-LargeButtonRight.push-left(href="sWork-CrumblingMetaphor.html") >
    .flex-video-width.pushDown <iframe width="560" height="315" src="https://www.youtube.com/embed/LGFVplQqIJk" frameborder="0" allowfullscreen></iframe>
