section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 Excavation
      p.workDate.smaller 2014
    .col-description#wp-pushLeft
      p.smaller Approximately 120" x 180" x 108"
      p.smaller Cardboard, Dirt, Wood from projects past
      a.portfolio-prevBtn(href="sWork-theDoryphoros.html") <
    .sculptureGalleryB.pushUp#center2B
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/excavation/excavation1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/excavation/excavation2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/excavation/excavation3.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/excavation/excavation4.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/excavation/excavation5.jpg")
