section.paintingList
  .flex.flex--center
    ul.col-4
      h4.fadeIn Painting
    .col-5
      div.paintingListPopUp
      div.paintingListPopUp2
      div.paintingListPopUp3
      div.paintingListPopUp4
      div.paintingListPopUp5
