section.videoWork-sections#media375-vWorkPadding.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Video
      a.wp-nextBtn#media568-vTextFrameReset(href="pWork-Transfiguration.html") >
    .col-1c#wp-pushLeft
      h2 Hardly Reachable
      p.workDate.smaller#media375-v 2013
    .col-description#wp-pushLeft
      p.smaller#media375-v Duration 00:05:12
      a.portfolio-prevBtn#media375-v-LargeButton(href="vWork-john316.html") <
    .flex-video-width#mediaVideoFrame-resetB.videoPadding <iframe src="https://player.vimeo.com/video/81587049" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
