section.paintingWork-Sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b
      h4 Painting
      a.wp-nextBtn(href="sWork-Intertextyouability.html") >
    .col-1c
      h2 Fall To Dust I
      p.workDate.smaller 2015
    .col-description
      p.smaller 38" x 48" x 12"
      p.smaller Butcher Paper, Dirt, Pink Nylon String, Tape, Wood From Past Projects
      a.portfolio-prevBtn(href="pWork-FallToDustII.html") <
    .paintingGallery.pushUp#centerB
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/painting/fallToDustI/fallToDustI1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/painting/fallToDustI/fallToDustI2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/painting/fallToDustI/fallToDustI3.jpg")
