section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 Templar I
      p.workDate.smaller 2013-2016
    .col-toggleWorks#wp-pushLeft
        a.toggleWorks1#active(href="sWork-Templar.html") I
        a.toggleWorks2(href="sWork-Templar2.html") II
        a.toggleWorks3(href="sWork-Templar3.html") III
    .col-description#wp-pushLeft
      p.smaller 48" x 72" x 36"
      p.smaller Acrylic Plexiglass, Artist's Blood, Burlap, Cardboard, Muslin, Galvanized Steel, 1/8" Thick Cold Pressed Steel, 1/4" Steel Rod
      a.portfolio-prevBtn(href="sWork-SidewayMirror.html") <
      a.portfolio-nextBtn.push-left(href="sWork-Templar2.html") >
    .sculptureGallery.pushUp#centerB
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar1-1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar1-2.jpg")
