section.designWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b
      h4 Design
    .col-1c
      h2.kerning L'ANZA Healing Haircare
      h3.subTitle DaveXLabs, LLC.
      p.workDate Junior Graphic Designer
      p.workDate.smaller#leading 2015-2017
    .col-description
      p.smaller
        | As a Junior Graphic Designer, my most important responsibility was to assist
        br
        | the flow of design by acting independently, dealing with clients and vendors
        br
        | directly, along with other project managers to ensure projects are done
        br
        | efficiently and on schedule.
      p.smaller
        | As a designer with DaveXLabs, I facilitated and designed original logos and
        br
        | branding assets, along with packaging and any social media content needed
        br
        | for their company L'ANZA Healing Haircare.
      p.smaller.bold
        | All images of work are for self-promoting purposes only.
        br
        | DaveXLabs LLC., is the sole owner of all L'ANZA content.
      a.portfolio-nextBtn(href="designWork-KingLyre.html") >
    .designGallery.pushUp-designGallery#center2
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-3.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-4.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-5.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-6.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-7.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-8.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-9.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-10.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-11.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-12.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-13.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-14.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-15.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-16.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/design/lanza/lanza-17.jpg")
