section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 Survey - A Triptych
      h3.subTitle Involuntary Response
      p.workDate.smaller 2014
    .col-toggleWorks#wp-pushLeft
        a.toggleWorks1(href="sWork-Survey.html") I
        a.toggleWorks2#active(href="sWork-Survey2.html") II
        a.toggleWorks3(href="sWork-Survey3.html") III
    .col-description#wp-pushLeft
      p.smaller Approximately 216" x 120" x 120"
      p.smaller Binder, Cinderblock, Happiness Surveys, Linen, MDF board, Metal Hooks, Page Protectors, Screws, Tempura Paint, Water, Wood
      a.portfolio-prevBtn(href="sWork-Survey.html") <
      a.portfolio-nextBtn.push-left(href="sWork-Survey3.html") >
    .sculptureGallery.pushUp#centerB
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/surveyATriptych/survey2-1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/surveyATriptych/survey2-2.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/surveyATriptych/survey2-3.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/surveyATriptych/survey2-4.jpg")
