section.videoList
  .flex.flex--center
    ul.col-4
      h4.fadeIn Video
    .col-5
      div.videoListPopUp
      div.videoListPopUp2
      div.videoListPopUp3
      div.videoListPopUp4
      div.videoListPopUp5
      div.videoListPopUp6
      div.videoListPopUp7
      div.videoListPopUp8
      div.videoListPopUp9
      div.videoListPopUp10
      div.videoListPopUp11
