section.push-right.m-scene
  .flex.flex--center
    .parallax-container.scene_element.scene_element--fadeinup
      ul#scene.scene
        li.layer(data-depth='0.1'): img#increase(src='../assets/imgs/parallax-landing/parallax-img.png')
        li.layer.center(data-depth='0.25'): img#decrease(src='../assets/imgs/parallax-landing/parallax-text.png')
