section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 Survey - A Triptych
      h3.subTitle Clean Slate
      p.workDate.smaller 2014
    .col-toggleWorks#wp-pushLeft
        a.toggleWorks1(href="sWork-Survey.html") I
        a.toggleWorks2(href="sWork-Survey2.html") II
        a.toggleWorks3#active(href="sWork-Survey3.html") III
    .col-description#wp-pushLeft
      p.smaller Approximately 48" x 46" x 24"
      p.smaller Binder, Blender, Bucket, Cinderblock, Cotton Towels, Duck Tape, Extension Cord, Fiberglass Screen, Glass Bowl, Happiness Surveys, Handmade Paper, MDF board, Page Protectors, Oatmeal, Screws, Tempura Paint, Water, Wood
      a.portfolio-prevBtn(href="sWork-Survey2.html") <
      a.portfolio-nextBtn.push-left(href="sWork-theDoryphoros.html") >
    .sculptureGallery.pushUp#centerC
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/surveyATriptych/survey3-1.jpg")
