section.sculptureWork-sections.m-scene
  .flex.flex--center.scene_element.scene_element--fadein
    .col-1b#wp-pushLeft
      h4 Sculpture
      a.wp-nextBtn(href="vWork-ribOfAdam.html") >
    .col-1c#wp-pushLeft
      h2 Templar II
      p.workDate.smaller 2013-2016
    .col-toggleWorks#wp-pushLeft
        a.toggleWorks1(href="sWork-Templar.html") I
        a.toggleWorks2#active(href="sWork-Templar2.html") II
        a.toggleWorks3(href="sWork-Templar3.html") III
    .col-description#wp-pushLeft
      p.smaller 28" x 48" x 24"
      p.smaller Welded Cold Pressed Steel, Perforated Steel Rebar, Found Wood, Rocks from the Santa Monica Mountains - Los Angeles, CA
      a.portfolio-prevBtn(href="sWork-Templar.html") <
      a.portfolio-nextBtn.push-left(href="sWork-Templar3.html") >
    .sculptureGallery.pushUp#centerB2
      ul.rslides
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar2-1.jpg")
        li: img(src="../assets/imgs/picsForSite/portfolio/sculpture/templar/templar2-2.jpg")
