nav.painting-nav.m-scene
  ul.worksList.scene_element.scene_element--fadeinright
    li.kerning: a.active-v(href="vWork-ribOfAdam.html") Rib Of Adam
    li.kerning: a.active2-v(href="vWork-Intertextyouability.html") Inter-Text-You-Ability
    li.kerning: a.active3-v(href="vWork-mananaAndSmithson.html") Manana And Smithson
    li.kerning: a.active4-v(href="vWork-crumblingMetaphor.html") Crumbling Metaphor
    li.kerning: a.active5-v(href="vWork-printName.html")
      | Print Name On The
      br
      | Other Side Of This Card
    li.kerning: a.active6-v(href="vWork-CultureInflux.html")
      | Culturally Influx
      br
      | Whiteboys Be Like...
    li.kerning: a.active7-v(href="vWork-CompetitiveCollab.html")
      | Competitive
      br
      | Collaboration
    li.kerning: a.active8-v(href="vWork-myOwnConstraint.html") My Own Constraint
    li.kerning: a.active9-v(href="vWork-john316.html") John 3:16
    li.kerning: a.active10-v(href="vWork-HardlyReachable.html") Hardly Reachable
  p.scrollDirection.smaller.fadeIn scroll this way >
