section.aboutPage
  .container.default
    .row
      .col.l4.media-reset.m6.s10
        p#aboutSubCopy Hello there, let me introduce myself...
    .row
      .col.l12.s12
          h2#aboutCopy
            | My name is Eric Michaels...
            br
            | and I am a visual artist and
            br
            | designer, based in Los Angeles.
    .row
      .col.l7.m12.s12
        ul.aboutList
          li
            i.fa.fa-check-square-o(aria-hidden='true')
            p#aboutListCopy Obtain a BFA degree in Sculpture with Honors
            p#aboutListSubCopy Otis College of Art and Design | 2012 - 2016
          li
            i.fa.fa-check-square-o(aria-hidden='true')
            p#aboutListCopy Snatch up a minor degree in Creative Writing
            p#aboutListSubCopy Otis College of Art and Design | 2012 - 2016
          li
            i.fa.fa-check-square-o(aria-hidden='true')
            p#aboutListCopy Obtain an AS degree in Graphic Design with Honors
            p#aboutListSubCopy Art Institute of Los Angeles | 2010 - 2012
      .col.l5.m12.s12
        ul.aboutList
          li
            i.fa.fa-check-square-o(aria-hidden='true')
            p#aboutListCopy Sky dive from fifteen thousand feet
            p#aboutListSubCopy The craziest thing done to date | 2017
          li
            i.fa.fa-check-square-o(aria-hidden='true')
            p#aboutListCopy Climb a few boulders
            p#aboutListSubCopy The greatest thrill to date | 2017
          li
            i.fa.fa-square-o(aria-hidden='true')
            p#aboutListCopy Master my craft
            p#aboutListSubCopy The 10, 000 hour challenge | Lifelong
    .row
      .col.l4.m12.s12
        p#aboutContactCopy Contact Information:
        ul.socialMediaNav-aboutPage
          li.hoverable
            a(href="#")
              i.fa.fa-facebook(aria-hidden='true')
          li.hoverable
            a(href="#")
              i.fa.fa-instagram(aria-hidden='true')
          li.hoverable
            a(href="#")
              i.fa.fa-twitter(aria-hidden='true')
          li.hoverable
            a(href="#")
              i.fa.fa-linkedin(aria-hidden='true')
          li.hoverable
            a(href="#")
              i.fa.fa-behance(aria-hidden='true')
      .col.l4.m5.email
        a(href='mailto:emichaels.art@gmail.com?Subject=Hello%20again,' target='_top')
          | emichaels.art@gmail.com
      .col.l4.m5.s6.home
        a(href='index.html')
          | Back to Home
