section.design-workList
  .container.default
    .row
      .col.l6.media-reset.m8.s10
        h1 ALL WORK
    .row
      .col.l3.m6.s12
        h4 DESIGN
        .worksList
          ul
            li
              a(href='design-lanza.html')
                p.aw-workName L'ANZA Healing Haircare
            li
              a(href='design-kingLyre.html')
                p.aw-workName King & Lyre
            li
              a(href='design-designWhat.html')
                p.aw-workName Design What?
      .col.l3.m6.s12
        h4 PAINTING
        .worksList
          ul
            li
              a(href='painting-disclosures.html')
                p.aw-workName Disclosures
            li
              a(href='painting-fallToDust.html')
                p.aw-workName Fall To Dust I & II
            li
              a(href='painting-letMeHelp.html')
                p.aw-workName Let Me Help You
            li
              a(href='painting-transfig.html')
                p.aw-workName Transfiguration
      .col.l3.m6.s12
        h4 SCULPTURE
        .worksList
          ul
            li
              a(href='sculpture-cc.html')
                p.aw-workName Competitive Collaboration
            li
              a(href='sculpture-interText.html')
                p.aw-workName Inter-Text-You-Ability
            li
              a(href='sculpture-sidewayMirror.html')
                p.aw-workName Sideway Mirror
            li
              a(href='sculpture-templar.html')
                p.aw-workName Templar
      .col.l3.m6.s12
        h4 VIDEO
        .worksList
          ul
            li
              a(href='video-ribOfAdam.html')
                p.aw-workName Rib of Adam
            li
              a(href='video-interText.html')
                p.aw-workName Inter-Text-You-Ability
            li
              a(href='video-mananaAndSmithson.html')
                p.aw-workName Manana and Smithson
            li
              a(href='video-crumblingMetaphor.html')
                p.aw-workName Crumbling Metaphor
            li
              a(href='video-printName.html')
                p.aw-workName Print Name on the Other Side of This Card
            li
              a(href='video-culturallyInflux.html')
                p.aw-workName Culturally Influx Whiteboys Be Like...
            li
              a(href='video-competitiveCollab.html')
                p.aw-workName Competitive Collaboration
            li
              a(href='video-myOwnConstraint.html')
                p.aw-workName My Own Constraint
            li
              a(href='video-john316.html')
                p.aw-workName John 3:16
    .row
      .col.l4.offset-l8
        .viewall
          a(href='index.html')
            h4 Back to Home
