section.design-portfolioPage
  .container.default
    .row
      .col.l12.m12.s12#workSlideshow
        .carousel.carousel-slider.center(data-indicators='true')
          .carousel-item.white-text(href='#one!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza1.jpg')
          .carousel-item.white-text(href='#two!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza2.jpg')
          .carousel-item.white-text(href='#three!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza3.jpg')
          .carousel-item.white-text(href='#four!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza4.jpg')
          .carousel-item.white-text(href='#five!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza5.jpg')
          .carousel-item.white-text(href='#six!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza6.jpg')
          .carousel-item.white-text(href='#seven!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza7.jpg')
          .carousel-item.white-text(href='#eight!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza8.jpg')
          .carousel-item.white-text(href='#nine!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza9.jpg')
          .carousel-item.white-text(href='#ten!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza10.jpg')
          .carousel-item.white-text(href='#eleven!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza11.jpg')
          .carousel-item.white-text(href='#twelve!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza12.jpg')
          .carousel-item.white-text(href='#thirteen!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza13.jpg')
          .carousel-item.white-text(href='#fourteen!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza14.jpg')
          .carousel-item.white-text(href='#fifteen!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza15.jpg')
          .carousel-item.white-text(href='#sixteen!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza16.jpg')
          .carousel-item.white-text(href='#seventeen!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza17.jpg')
          .carousel-item.white-text(href='#eighteen!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza18.jpg')
          .carousel-item.white-text(href='#nineteen!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza19.jpg')
          .carousel-item.white-text(href='#twenty!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza20.jpg')
          .carousel-item.white-text(href='#twentyone!')
            img(src='/assets/imgs/portfolioWork/design/lanza/lanza21.jpg')
    .row
      .col.l1
        button.togglePortfolioCopy.waves-effect.waves-light
          i.fa.fa-chevron-up(aria-hidden='true')
      .col.l5.m2
        p#workSubHeading TOGGLE WORK DESCRIPTION
      .col.l1.m2.s4.offset-l5.offset-m3
        ul.center-align
          li#portfolioPageNext
            a(href='design-kingLyre.html')
              i.fa.fa-chevron-right(aria-hidden='true').right.waves-effect
    .row.portfolioCopy
      .col.l4.m4.s12
        h3.workTitle L'ANZA Healing Haircare
        h6.push-leading.workSubHeading DESIGN
        p.workSubHeading JUNIOR GRAPHIC DESIGNER
          p.workDescription
            | My most important responsibilities were to assist the flow of design
            | by acting independently, dealing with clients and vendors directly,
            | along with other project managers to ensure projects are done
            | efficiently and on schedule.
      .col.l3.m4.s12
        p.workDescription.pushDown
          | As a designer with DaveXLabs, I facilitated and designed original
          | logos and branding assets, along with packaging and any social
          | media content needed for their company L'ANZA Healing Haircare.
      .col.l3.m3.s12
        .workInfo
          p.workDescription.pushDown
            | All images of work are for self-promoting purposes only.
            | DaveXLabs LLC., is the sole owner of all L'ANZA content.
      .col.l1.m1.s1
        ul.center-align
          li#next
            a(href='design-kingLyre.html')
              i.fa.fa-chevron-right(aria-hidden='true').right.waves-effect
