section.design-workList
  .container.default
    .row
      .col.l4.media-reset.m6.s10
        h1 DESIGN
        h4.push-leading WORK
    .row
      .col.l12.s12
        .worksList
          ul
            li
              a(href='design-lanza.html')
                h2 L'ANZA Healing Haircare
            li
              a(href='design-kingLyre.html')
                h2 King & Lyre
            li
              a(href='design-designWhat.html')
                h2 Design What?
    .row
      .col.l1
        .back-btn
          a(href='index.html')
            i.fa.fa-chevron-left(aria-hidden='true').left.waves-effect
      .col.l4.offset-l7
        .viewall
          a(href='#')
            h4 view all
