section.footer
  footer.page-footer
    .container
      .row
        .col.l6.s12
          h5 Connect
          p.grey-text Keep in touch and follow me for updates on social media!
        .col.l2.s12
          h5 Links
          ul
            li
              i.fa.fa-facebook-square(aria-hidden='true')
              a.grey-text(href='https://www.facebook.com/ericm.work' target='_blank')  Facebook
            li
              i.fa.fa-instagram(aria-hidden='true')
              a.grey-text(href='https://www.instagram.com/emichaels_art' target='_blank')  Instagram
            li
              i.fa.fa-linkedin-square(aria-hidden='true')
              a.grey-text(href='https://www.linkedin.com/in/ericmwork' target='_blank')  LinkedIn
            li
              i.fa.fa-youtube-square(aria-hidden='true')
              a.grey-text(href='https://www.youtube.com/user/MystryArt' target='_blank')  YouTube
        .col.l2.offset-l2.s12
          h5 Other Links
          ul
            li
              i.fa.fa-behance-square(aria-hidden='true')
              a.grey-text(href='https://www.behance.net/eMichaelsa75cb' target='_blank')  Behance
            li
              i.fa.fa-twitter-square(aria-hidden='true')
              a.grey-text(href='#!')  Twitter
    .footer-copyright
      .container.grey-text.text-darken-1
        | © 2017-2018 Eric Michaels Studio
        a.float-right.grey-text.text-darken-1(href='#!') Built with <b>Materialize.css</b>
