section.home-landing
  .container.default
    .row
      .col.l1.s2
        .slideshow-container2
          ul.landingSlides
            li.landingGallery_1
            li.landingGallery_1b
            li.landingGallery_1c
            li.landingGallery_1d
            li.landingGallery_1e
      .col.l4.media-reset.m6.s10
        h1 RECENT
        h4.push-leading WORK
        #jobTitle.right-align.push-up
          p(style='display: none;')
        a(href="all-workList.html").push-down.link view all
        ul.nextPrev.landingSlideButtons
          li#prev
            a(href="#").control_prev
              i.fa.fa-chevron-left(aria-hidden='true').left.waves-effect
          li#next
            a(href="#").control_next
              i.fa.fa-chevron-right(aria-hidden='true').right.waves-effect
        span#slideCount.hide-on-med-only 1
        span.slideCount.hide-on-med-and-down / 5
      .col.l6.offset-l1
        .slideshow-container1
          ul.landingSlides
            li.landingGallery_2
            li.landingGallery_2b
            li.landingGallery_2c
            li.landingGallery_2d
            li.landingGallery_2e
