section.painting-portfolioPage
  .container
    .row
      .col.l12.m12.s12#workSlideshow
        .carousel.carousel-slider.center(data-indicators='true')
          .carousel-item.white-text(href='#one!')
            img(src='/assets/imgs/portfolioWork/visualArt/painting/disclosures/disclosureI-1.jpg')
          .carousel-item.white-text(href='#two!')
            img(src='/assets/imgs/portfolioWork/visualArt/painting/disclosures/disclosure-2.jpg')
          .carousel-item.white-text(href='#three!')
            img(src='/assets/imgs/portfolioWork/visualArt/painting/disclosures/disclosure-2b.jpg')
          .carousel-item.white-text(href='#four!')
            img(src='/assets/imgs/portfolioWork/visualArt/painting/disclosures/disclosureIII-p1.jpg')

    .row
      .col.l1
        button.togglePortfolioCopy.waves-effect.waves-light
          i.fa.fa-chevron-up(aria-hidden='true')
      .col.l5.m2
        p#workSubHeading TOGGLE WORK DESCRIPTION
      .col.l1.m2.s4.offset-l5.offset-m3
        ul.center-align
          li#portfolioPageNext
            a(href='painting-fallToDust.html')
              i.fa.fa-chevron-right(aria-hidden='true').right.waves-effect
    .row.portfolioCopy
      .col.l4.m4.s12
        h3.workTitle Disclosures (Series)
        h6.push-leading.workSubHeading 2016
        p.workSubHeading PAINTING
          p.workDescription
            | Disclosures is a series of work that takes advantage of the building
            | materials the are used for packing goods, marketing goods, or protecting
            | goods. Materials like styrofoam and acrylic displays are rich in context
            | that allow a playful seriousness when used within a painting.
      .col.l4.m4.s12
        p.workDescription.pushDown
          | The conversation should not surround itself with debate of painting
          | versus sculpture, however, the inquiry does lie in how painting, as a form,
          | acts as the same type of protector, packer, and marketer of ideas.
      .col.l1.m1.s1
        ul.center-align
          li#next
            a(href='painting-fallToDust.html')
              i.fa.fa-chevron-right(aria-hidden='true').right.waves-effect
