section.painting-workList
  .container
    .row
      .col.l4.media-reset.m6.s10
        h1 PAINTING
        h4.push-leading WORK
    .row
      .col.l12.s12
        .worksList
          ul
            li
              a(href='painting-disclosures.html')
                h2 Disclosures
            li
              a(href='painting-fallToDust.html')
                h2 Fall To Dust I & II
            li
              a(href='painting-letMeHelp.html')
                h2 Let Me Help You
            li
              a(href='painting-transfig.html')
                h2 Transfiguration
    .row
      .col.l1
        .back-btn
          a(href='index.html')
            i.fa.fa-chevron-left(aria-hidden='true').left.waves-effect
      .col.l4.offset-l7
        .viewall
          a(href='#')
            h4 view all
