section.painting-portfolioPage
  .container
    .row
      .col.l12.m12.s12#workSlideshow
        .carousel.carousel-slider.center(data-indicators='true')
          .carousel-item.white-text(href='#one!')
            img(src='/assets/imgs/portfolioWork/visualArt/painting/transfiguration/transfiguration2.jpg')
          .carousel-item.white-text(href='#two!')
            img(src='/assets/imgs/portfolioWork/visualArt/painting/transfiguration/transfiguration3.jpg')
          .carousel-item.white-text(href='#three!')
            img(src='/assets/imgs/portfolioWork/visualArt/painting/transfiguration/transfiguration4.jpg')

    .row
      .col.l1
        button.togglePortfolioCopy.waves-effect.waves-light
          i.fa.fa-chevron-up(aria-hidden='true')
      .col.l5.m2
        p#workSubHeading TOGGLE WORK DESCRIPTION
    .row.portfolioCopy
      .col.l4.m4.s12
        h3.workTitle Transfiguration
        h6.push-leading.workSubHeading 2015-16
        p.workSubHeading PAINTING
          p.workDescription
            | Transfiguration was inspired by alchemy, and its close relationship to sculpture.
            | In alchemy, one is able to transform one material into another, utilizing some sort of
            | formal trade-off or pairing. In sculpture, objects are transformed instantly all the time,
            | whether it moves its place of showing, or it metamorphoses during its conceptual stages.
      .col.l4.m4.s12
        p.workDescription.pushDown
          | More specifically, this work looks at the changes an object undergoes when it is being developed.
          | Prototype materials like unfired clay, cardboard mockups, and a final piece of ceramic
          | are used as a metaphor showcasing an objects playfulness into a more rigid, durable format.
