section.sculpture-workList
  .container
    .row
      .col.l4.media-reset.m6.s10
        h1 SCULPTURE
        h4.push-leading WORK
    .row
      .col.l12.s12
        .worksList
          ul
            li
              a(href='sculpture-cc.html')
                h2 Competitive Collaboration
            li
              a(href='sculpture-interText.html')
                h2 Inter-Text-You-Ability
            li
              a(href='sculpture-sidewayMirror.html')
                h2 Sideway Mirror
            li
              a(href='sculpture-templar.html')
                h2 Templar
    .row
      .col.l1
        .back-btn
          a(href='index.html')
            i.fa.fa-chevron-left(aria-hidden='true').left.waves-effect
      .col.l4.offset-l7
        .viewall
          a(href='#')
            h4 view all
