.sidebar

  ul.toggleSkill
    li#toggleSkill1
      a.waves-effect.waves-light Design
    li#toggleSkill2
      a.waves-effect.waves-light.hoverable Visual Art

  .list1
    ul.sidebarWorkList#list1
      li
        a.waves-effect(href='design-lanza.html')
          p L'ANZA Healing Haircare
      li
        a.waves-effect(href='design-kingLyre.html')
          p King & Lyre
      li
        a.waves-effect(href='design-designWhat.html')
          p Design What?

  .list2
    ul.sidebarWorkList#list2
      li
        a.waves-effect(href='painting-worksList.html')
          p Painting
      li
        a.waves-effect(href='sculpture-worksList.html')
          p Sculpture
      li
        a.waves-effect(href='video-worksList.html')
          p Video
  .information
    ul.sidebarWorkList
      span#line
      li
        i.fa.fa-user#user(aria-hidden='true')
        a.waves-effect(href='about-page.html')
          p#about About
      li
        i.fa.fa-envelope#contact(aria-hidden='true')
        a.waves-effect(href='mailto:emichaels.art@gmail.com?Subject=Hello%20again,' target='_top')
          p Contact


  ul.socialMediaNav
    li.hoverable
      a(href='https://www.facebook.com/ericm.work' target='_blank')
        i.fa.fa-facebook(aria-hidden='true')
    li.hoverable
      a(href='https://www.instagram.com/emichaels_art' target='_blank')
        i.fa.fa-instagram(aria-hidden='true')
    li.hoverable
      a(href="#")
        i.fa.fa-twitter(aria-hidden='true')
    li.hoverable
      a(href='https://www.linkedin.com/in/ericmwork' target='_blank')
        i.fa.fa-linkedin(aria-hidden='true')
    li.hoverable
      a(href='https://www.behance.net/eMichaelsa75cb' target='_blank')
        i.fa.fa-behance(aria-hidden='true')
    .backToHome-btnContainer.backToHome
      a.waves-effect.waves-light.btn(href='index.html')
        i.fa.fa-home(aria-hidden='true')
