section.video-workList
  .container
    .row
      .col.l4.media-reset.m6.s10
        h1 VIDEO
        h4.push-leading WORK
    .row
      .col.l12.s12
        .worksList#videoList
          ul
            li
              a(href='video-ribOfAdam.html')
                h2 Rib of Adam
            li
              a(href='video-interText.html')
                h2 Inter-Text-You-Ability
            li
              a(href='video-mananaAndSmithson.html')
                h2 Manana and Smithson
            li
              a(href='video-crumblingMetaphor.html')
                h2 Crumbling Metaphor
            li
              a(href='video-printName.html')
                h2 Print Name on the Other Side of This Card
            li
              a(href='video-culturallyInflux.html')
                h2 Culturally Influx Whiteboys Be Like...
            li
              a(href='video-competitiveCollab.html')
                h2 Competitive Collaboration
            li
              a(href='video-myOwnConstraint.html')
                h2 My Own Constraint
            li
              a(href='video-john316.html')
                h2 John 3:16
    .row
      .col.l1
        .back-btn
          a(href='index.html')
            i.fa.fa-chevron-left(aria-hidden='true').left.waves-effect
      .col.l4.offset-l7
        .viewall
          a(href='#')
            h4 view all
