section.video-portfolioPage
  .container
    .row
      .col.l12.m12.s12
        iframe(width='960', height='615', src='https://www.youtube.com/embed/j09uJlcwj4s', frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='')

    .row
      .col.l1
        button.togglePortfolioCopy.waves-effect.waves-light
          i.fa.fa-chevron-up(aria-hidden='true')
      .col.l5.m2
        p#workSubHeading TOGGLE WORK DESCRIPTION
      .col.l1.m2.s4.offset-l5.offset-m3
        ul.center-align
          li#portfolioPageNext
            a(href='video-mananaAndSmithson.html')
              i.fa.fa-chevron-right(aria-hidden='true').right.waves-effect
    .row.portfolioCopy
      .col.l6.m6.s12
        h3.workTitle Inter-Text-You-Ability
        h6.push-leading.workSubHeading 2012-16
        p.workSubHeading VIDEO
          p.workDescription
            | Performance Video
            | Duration: 15:45
      .col.l1.m1.s1
        ul.center-align
          li#next
            a(href='video-mananaAndSmithson.html')
              i.fa.fa-chevron-right(aria-hidden='true').right.waves-effect
