section.writing-workList
  .container
    .row
      .col.l4.media-reset.m6.s10
        h1 WRITING
        h4.push-leading WORK
    .row
      .col.l12.s12
        .worksList
          ul
            li
              a(href='#')
                h2 Test A
            li
              a(href='#')
                h2 Test B
            li
              a(href='#')
                h2 Test C
    .row
      .col.l1
        .back-btn
          a(href='index.html')
            i.fa.fa-chevron-left(aria-hidden='true').left.waves-effect
      .col.l4.offset-l7
        .viewall
          a(href='#')
            h4 view all
