---
layout: default
title: Eric Michaels - Portfolio Website - Design Home
---

<div class="home-wrap">

  {% include design-header.html %}

  <div class="home-sections">
    <!-- all sections -->
      {% include designSection-landing.html %}
      {% include designSection-landing2.html %}
      {% include designSection-landing3.html %}
      {% include designSection-landing4.html %}

    <h3><a href="#" class="back-to-top">Back To Top ></a></h3>

    <div style="height: 500px"></div>
  </div>
</div>
