// Back To Top Button - Scroll

.scrollButton
  background:
    image: url(../imgs/landingButtons/scrollButton.png)
    position: center
    size: cover
  display: block
  position: relative
  width: 35px
  height: 27px

.back-to-top
  display: none
  color: darkGrey
  position: fixed
  bottom: 130px
  right: 20px
  margin-left: 50px
  transform: rotate(-90deg)

// Work Page - Next Button

.portfolio-nextBtn
  position: relative
  //top: -105px
  left: 325px
  font-size: 26px

.wp-nextBtn
  position: relative
  display: inline-block
  top: -60px
  left: 325px
  font-size: 26px

@media (max-width: 775px)
  .portfolio-nextBtn
    padding-right: 16px

  .wp-nextBtn
    padding-right: 16px

.portfolio-prevBtn
  position: relative
  //top: -105px
  left: 0px
  font-size: 26px

.toggleWorks1, .toggleWorks2, .toggleWorks3
    width: 40px
    display: inline-block
    margin: auto
    padding: 30px
    line-height: 30px
    -webkit-box-align: center
    -ms-flex-align: center
    text-align: center

@media (max-width: 320px)
  .toggleWorks1, .toggleWorks2, .toggleWorks3
    padding: 20px


#active
  font-weight: bold
  font-size: 18px


// Pulse Button

.pulse-button
  position: relative
  display: block
  border: none
  background: none
  cursor: pointer
  box-shadow: 0 0 0 0 rgba(white, .5)
  -webkit-animation: pulse 1.5s infinite

.pulse-button:hover
  -webkit-animation: none

@-webkit-keyframes pulse
  0%
    @include transform(scale(.9))
  70%
    @include transform(scale(1))
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0)
    100%
    @include transform(scale(.9))
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0)
