section.designLanding4
  padding: 0
  margin-top: 100px

  .designLanding4p1
    background:
      image: url(../imgs/designParallax-landing/landing4/designlanding4p1.png)
      position: center
      size: cover
    width: 825px
    height: 750px
    position: relative
    visibility: hidden

  .designLanding4p2
    background:
      image: url(../imgs/designParallax-landing/landing4/designlanding4p2.png)
      position: center
      size: cover
    width: 825px
    height: 750px
    margin-top: -750px
    z-index: -5
    position: relative
    visibility: hidden

  .designLanding4p3
    background:
      image: url(../imgs/designParallax-landing/landing4/designlanding4p3.png)
      position: center
      size: cover
    width: 825px
    height: 750px
    margin-top: -750px
    position: relative
    z-index: -4
    visibility: hidden

  .designLanding4p4
    background:
      image: url(../imgs/designParallax-landing/landing4/designlanding4p4.png)
      position: center
      size: cover
    width: 825px
    height: 750px
    margin-top: -750px
    position: relative
    z-index:  -10
    visibility: hidden

  .grow
    transition: all .2s ease-in-out

  .grow:hover
    transform: scale(1.1)

#designLandingbutton3
  visibility: hidden

  #object
    visibility: hidden

@media (max-width: 2560px)
  section.designLanding4
    margin-top: 129px

@media (max-width: 1024px)
  section.designLanding4
    margin-left: 175px
    margin-top: 500px

@media (max-width: 768px)
  section.designLanding4
    margin-top: 170px
    margin-left: 0px

@media (max-height: 375px)
  section.designLanding4
    margin-left: 39px
