<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

				<link rel="stylesheet" href="/assets/css/main.css">

				<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
				<script src="../assets/js/jquery.waypoints.min.js"></script>
				<script src="../assets/js/jquery.easing.1.3.js"></script>
				<script src="../assets/js/jquery.jkit.1.2.16.min.js"></script>
				<script src="../assets/js/parallax.min.js"></script>
				<script src="../assets/js/responsiveslides.min.js"></script>
				<script src="../assets/js/function.js"></script>

	     <script type="text/javascript">
	         $(document).ready(function(){
	         	$('body').jKit();
	         });
	     </script>

    </head>
    <body>

    {{ content }}

		{{ script }}
		<script>
		var scene = document.getElementById('scene');
		var parallax = new Parallax(scene);
		</script>

    </body>
</html>
