<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/0-tools/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
    </style>
  </head>
  <body>
    <script>document.body.className += ' fade-out';</script>

    <input type="checkbox" name="" value="" id="sidebarToggle">

    <div class="page-wrap">
      <div class="page-overlay">
        <div class="page-content">
          {{ content }}
        </div>
      </div>
    </div>


    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.jkit.autoload.1.2.16.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
